{% extends 'frontbase.html.twig' %}

{% block title %} Tüm Ürünler {% endblock %}
{% block keywords %}{{ data[0].keywords }} {% endblock %}
{% block description %}{{ data[0].description }} {% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Tüm Ürünler</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">

                {% for rs in result %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ asset('admin/uploads/images') }}/{{rs.image}}" alt="">
                        </div>
                        <h2><a href="{{ path('products_detail', {'id' : rs.id}) }}">{{ rs.title }}</a></h2>
                        <div class="product-carousel-price">
                            <ins>${{ rs.sprice }}</ins> <del>$ {{ rs.price }}</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{{ path('products_detail', {'id' : rs.id}) }}">Detayları Gör</a>
                        </div>
                    </div>
                </div>

                {% endfor %}



            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block productwidget%} {{ include('home/_productwidget.html.twig') }} {% endblock %}
