{% extends 'frontbase.html.twig' %}

{% block title %}{{ data[0].title }} Ürünü  {% endblock %}
{% block keywords %}{{ data[0].keywords }} {% endblock %}
{% block description %}{{ data[0].description }} {% endblock %}
{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ data[0].title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Ürünler</h2>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{{ path('home') }}">Anasayfa</a>
                            <a href="">{{ data[0].type }}</a>
                            <a href="">{{ data[0].title }}</a>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="row align-center">
                                        <div class="panel panel-default">

                                            <div id="carousel-example" class="carousel slide" data-ride="carousel">

                                                <div class="carousel-inner">
                                                    <div class="item active">

                                                        <img src="{{ asset('admin/uploads') }}/images/{{ data[0].image }}" alt="">

                                                    </div>
                                                    {% for rs in data %}

                                                    <div class="item">
                                                        <img src="{{ asset('admin/uploads') }}/images/{{ rs.image }}" alt="">

                                                    </div>
                                                    {% endfor %}

                                                </div>
                                                <!--INDICATORS-->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example" data-slide-to="0" class=""></li>
                                                    <li data-target="#carousel-example" data-slide-to="1" class=""></li>
                                                    <li data-target="#carousel-example" data-slide-to="2" class="active"></li>
                                                </ol>
                                                <!--PREVIUS-NEXT BUTTONS-->
                                                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ data[0].title }}</h2>
                                    <div class="product-inner-price">
                                        <ins>{{ data[0].sprice }} TL</ins>
                                        <del>{{ data[0].price }} TL</del>
                                    </div>

                                    <form action="{{ path('shopcarts_new') }}" class="cart" method="post">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" name="quantity" min="1" step="1"
                                                   max="{{ data[0].amount }}">
                                            <input type="hidden" value="{{ data[0].id }}" name="shopcarts[productid]">
                                        </div>

                                        <input type="hidden" name="token" value="{{ csrf_token('add_item') }}">
                                        <button type="submit"> ekle</button>

                                    </form>

                                    <div class="product-inner-category">
                                        <p>Kategori :<a href="">{{ data[0].type }}</a>. Keywords <a
                                                    href="">{{ data[0].keywords }}</a>. </p>
                                    </div>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ürün Bilgileri</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Yorum yap</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Ürün Bilgileri</h2>
                                                <p>{{ data[0].description }}</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Yorum yap</h2>

                                                <form action="{{ path('newcomment',{'id':data[0].id}) }}" method="POST">
                                                    <div class="submit-review">
                                                        <p><label for="review">Your review</label> <textarea
                                                                    name="comments[comment]" id="" cols="30"
                                                                    rows="10"></textarea></p>
                                                        <input type="hidden" name="comments[userid]"
                                                               value="{{ app.user.id }}"/>
                                                        <input type="hidden" name="comments[username]"
                                                               value="{{ app.user.name }}"/>
                                                        <input type="hidden" name="comments[productid]"
                                                               value="{{ data[0].id }}"/>
                                                        <input type="hidden" name="comments[status]" value="false"/>

                                                        <input type="hidden" name="token"
                                                               value="{{ csrf_token('form-comment') }}"/>
                                                        <p><input type="submit" value="Yorum Yap"></p>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Kullanıcı Yorumları</h2>


                        {% for comment in usercomment %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle"
                                                     src="{{ path('admin') }}/assets/img/user.png">
                                            </a>
                                            <div class="media-body">
                                                <span class="cart-amunt"><h4 class="media-heading">{{ comment.username }} kullanıcısı yorumu ;</h4></span>
                                                <p>    {{ comment.comment }}     </p>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block productwidget %}    {{ include('home/_productwidget.html.twig') }} {% endblock %}
