
    <div class="panel panel-info">
        {{ include('messages.html.twig') }}
        <div class="panel-heading">
            Sipariş Ödeme
        </div>
        <div class="panel-body">
            <form role="form" action="{{ path('orders_new') }}" method="post" name="order">
                <label>Alıcı Bilgileri</label>
                <div class="form-group">
                    <label>Ödenecek Tutar : </label>
                    <input class="form-control" type="text" name="orders[amount]" value="{{ total }}">
                    <p class="help-block">Sepet Tutar</p>
                </div>
                <div class="form-group">
                    <label>Adı Soyadı</label>
                    <input class="form-control" type="text" name="orders[name]" value="{{ app.user.name }}">
                    <p class="help-block">Alıcı Adı Soyadı</p>
                </div>
                <div class="form-group">
                    <label>Adresi</label>
                    <textarea class="form-control" rows="3" type="text" name="orders[adress]"
                              value="{{ app.user.adress }}"></textarea>
                    <p class="help-block">Alıcı Adresi</p>
                </div>
                <div class="form-group">
                    <label>Şehir</label>
                    <input class="form-control" type="text" name="orders[city]" value="{{ app.user.city }}">
                    <p class="help-block">Alıcı Şehir</p>
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input class="form-control" type="text" name="orders[name]" value="{{ app.user.phone }}">
                    <p class="help-block">Alıcı Telefon No</p>
                </div>
                <hr>
                <label>Ödeme Bilgileri</label>

                <div class="form-group">
                    <label>Kart Sahibi Adı Soyadı</label>
                    <input class="form-control" type="text" name="kartname" placeholder="Kart Sahibinin Adı Soyadı">
                    <p class="help-block">Kart Sahibinin Adı Soyadı</p>
                </div>
                <div class="form-group">
                    <label>Kart No</label>
                    <input class="form-control" type="text" name="kartno" placeholder="Kart Numarası">
                    <p class="help-block">Kart Numarası</p>
                </div>
                <div class="form-group">
                    <label>Adı Soyadı</label>
                    <input class="form-control" type="text" name="kartyil" placeholder="Kart Son Kullanma Tarihi">
                    <p class="help-block">Ön Yüzünde Bulunan Son Kullanma Tarihi</p>
                </div>
                <div class="form-group">
                    <label>Adı Soyadı</label>
                    <input class="form-control" type="text" name="kartcvc" placeholder="Kart CVC">
                    <p class="help-block">Kartınızın Arka Yüzündeki CVC Kodu </p>
                </div>

                <input type="hidden" name="token" value="{{ csrf_token('form-order') }}" >

                <button type="submit" class="btn btn-info">Ödeme Yap</button>
            </form>
        </div>
    </div>

</div>
