<!DOCTYPE html>
<html xmlns:>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} Admin Panel {% endblock %}</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{{ asset('admin') }}/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="{{ asset('admin') }}/assets/css/font-awesome.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="{{ asset('admin') }}/assets/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="{{ asset('admin') }}/assets/css/custom.css" rel="stylesheet"/>
    <link href="{{ asset('admin') }}/assets/css/bootstrap-fileupload.min.css" rel="stylesheet">
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowUrl,windowName,windowFeatures) {
            window.open(windowUrl,windowName,windowFeatures);
        }
    </SCRIPT>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>

</head>
<body>
    <form action="{{ path('admin_product_iupdate',{'id':id}) }}" method="post" enctype="multipart/form-data">
        <img src="{{ asset('admin/uploads') }}/images/{{ product.image }}" height="100"><br>
        Select image to upload:
        <input type="file" name="name" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>
</body>