{% extends 'frontbase.html.twig' %}

{% block title %}Shopcarts index{% endblock %}


{% block content %}
<body>
{{ include('messages.html.twig') }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Sipariş Geçmişi
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>City</th>
                                <th>Phone</th>
                                <th>Shipinfo</th>
                                <th>Status</th>
                                <th>Note</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.name }}</td>
                                    <td>{{ order.amount }}</td>
                                    <td>{{ order.city }}</td>
                                    <td>{{ order.phone }}</td>
                                    <td>{{ order.shipinfo }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>{{ order.note }}</td>
                                    <td>
                                        <a href="{{ path('orders_show',{'id':order.id}) }}">Sipariş
                                            Detayı</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

{% endblock %}
